[commit]
	gpgsign = true
[core]
	quotePath = false
[gpg]
	program = C:\\ProgramData\\scoop\\apps\\gpg4win\\current\\GnuPG\\bin\\gpg.exe
[user]
	email = koyo@koyo.kr
	name = Younghun Ko
	signingkey = 37DE987257F6ECAC
[credential "helperselector"]
	selected = manager
