[credential]
	helper = manager
[user]
	email = koyo@koyo.kr
	name = Younghun Ko
	signingkey = 76DF7746EF24F484
[core]
	quotePath = false
[commit]
	gpgsign = true
[gpg]
	program = C:\\ProgramData\\scoop\\apps\\gpg4win\\current\\GnuPG\\bin\\gpg.exe
